# Environment
.vscode
.mypy_cache
__pycache__
*.pyc
*.sqlite

# Mac OS
.DS_Store

# Hidden files
NOTES.md
basics

# Unlinked repos 
ludobots

# Temporary exclude
lamarck_ld
morphologies
revdev
bo

# LaTeX
*.sav
*.bak
*.tmp
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)

# DrawIO
*.bkp
charts/ideas
charts/ludobots

# Misc pictures
*.png
*.jpg
*.jpeg