# Environment
.vscode

# Mac OS
.DS_Store

# Hidden notes
NOTES.md

# Unlinked repos 
ludobots

# Duplicate `examples` folder
tutorial/examples

# Temporary exclude
tutorial
lamarck
morphologies
revdev
bo

# LaTeX
*.sav
*.bak
*.tmp
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)

# DrawIO
*.bkp
000_all.drawio
000_er_overview.drawio
002_ludobots.drawio

# Misc pictures
*.png
*.jpg
*.jpeg