# Environment
.vscode

# Mac OS
.DS_Store

# Hidden notes
_README.md

# Unlinked repos 
ludobots

# Duplicate `examples` folder
tutorial/examples

# Temporary exclude
tutorial
lamarck
morphologies

# LaTeX
*.sav
*.bak
*.tmp
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.synctex(busy)

